@value colors: "../../assets/styles/variables.css";
@value black, cerulean, atlantis, white from colors;

.header{
    padding: 0px 5% 5px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}
.header nav{
   
}
.header ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0;
        height: 14vh;
}
.header ul li:first-child img{
    width: 14vw
}
.header ul li a{
    color: black;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600
}
.header ul li:last-child a{
    border: 1px solid cerulean;
    color: cerulean;
    padding: 10px 0px;
    border-radius: 20px;
    width: 13vw;
    display: block;
    text-align: center;
    font-size: 1.4rem
}
.btnLang, .btnLang:active, .btnLang:focus{
    float: right;
    margin: -28px -40px 0 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}
.btnLang img{
    width: 25px;
    height: 16px;
}